@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* ====================================
General Styles
==================================== */

body {
  background-color: #f3f8fd;
}

.black{
  color: #010305;
}
.blue{
  color: #79cbee;
}
.gray{
  color: #a2b5c5;
}
.white{
  color: #f3f8fd;
}

.black_bg{
  background-color: #010305;
}
.blue_bg{
  background-color: #79cbee;
}
.gray_bg{
  background-color: #a2b5c5;
}
.white_bg{
  background-color: #f3f8fd;
}
.transperent_bg {
  background: transparent!important;
}