{% extends 'renew/base.html' %}
{% load static %}

{% block content %}

<div class='container'>

    <h1 id='' class='black h2index mt-5 pb-2'>Новости</h1>
    
    <h2 class='we_300 pb-5'>Заголовок</h2>


    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    <hr>
    <h2 class='we_300 pb-5'>Заголовок</h2>

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

         <hr>
    <h2 class='we_300 pb-5'>Заголовок</h2>

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст


         <hr>
    <h2 class='we_300 pb-5'>Заголовок</h2>

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст


         <hr>
    <h2 class='we_300 pb-5'>Заголовок</h2>

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    <p class=''>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст


</div>


{% endblock %}