{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>АИК "Реновация"</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
<!--   <link rel='stylesheet' href='https://cdn.rawgit.com/filipelinhares/ress/master/dist/ress.min.css'>
  <link rel="stylesheet" href='{% static "css/style.css" %}'> -->

  <link rel="stylesheet" href='{% static "css/style_main.css" %}'>
  <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}" type="text/css">

</head>
<body>

<header>
<!-- DESCTOP -->
<div class='d-none d-lg-block d-xl-block d-xxl-block'>
    <div class="menu_desctop container-fluid">
      
      <div class="d-flex justify-content-between">
        <div>
          <a class="navbar-brand" href='{% url "renew:index" %}'> 
            <div class='d-flex'>   
              <div><img class='logo p-2' src='{% static "logo_white.svg" %}'></div>
              <div><h1 class='white brand_aik ms-2'>АИК «Реновация»</h1></div>
            </div>
          </a>
        </div>

        <div class="d-flex justify-content-between">
          <div class='pt-2'>
            <a  href='#'><img class='smm_head py-2 ps-2' src='{% static "img/icons/vk_gray.png" %}'></a>
            <a  href='#'><img class='smm_head py-2 pe-2' src='{% static "img/icons/inst_gray.png" %}'></a>
          </div>
          <div class='px-2'>
            <p class="head_phone white">+7 (917) 245-42-25</p>
            <p class="head_mail white">renovation-rf@mail.ru</p>
          </div>

           <div class='modal_container' onclick='showModal(this);'>
            {% include 'renew/form_popup_base.html' %}
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-center" id="menu">
        <hr class='hr_line'>
        <a class="nav-link " href='{% url "renew:index" %}#about'>О Компании</a>
        <a class="nav-link " href='{% url "#" %}'>Новости</a>
        <span class='pt-2 gray'>|</span>
        <a class="nav-link" href='{% url "renew:improvement" %}'>Благоустройство</a>
        <a class="nav-link" href='{% url "renew:projection" %}'>Проектирование</a>
        <a class="nav-link" href='{% url "renew:screening" %}'>Обследование</a>
        <span class='pt-2 gray'>|</span>
        <a class="nav-link" href='{% url "renew:index" %}#team'>Команда</a>
        <a class="nav-link" href='{% url "renew:index" %}#partners'>Партнеры</a>
        <a class="nav-link" href='http://127.0.0.1:8000#contact'>Контакты</a>
      </div>

    </div>

</div>

<!-- PHONE -->
<div id='nav_mob' class='d-block d-lg-none'>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      
        <a class="navbar-brand" href='{% url "renew:index" %}'> 
          <div class='d-flex'>   
            <div><img class='logo_mob' src='{% static "logo.svg" %}'></div>
            <div><h1 class='black brand_aik ms-3'>АИК «Реновация»</h1></div>
          </div>
        </a>
    

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="add_bg();">
        <img class='menu_icon' src="{% static 'img/icons/menu.png' %}">
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav menu_mob_list">

          <li class="nav-item">
            <a class="nav-link" href='{% url "#" %}'>Новости</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href='{% url "renew:index" %}#about'>О Компании</a>
          </li>
          <li class="nav-item we_300 ms-2 my-2">——————————</li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "renew:improvement" %}'>Благоустройство</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "renew:projection" %}'>Проектирование</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "renew:screening" %}'>Обследование</a>
          </li>

          <li class="nav-item we_300 ms-2 my-2">——————————</li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "renew:index" %}#team'>Команда</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href='{% url "renew:index" %}#contact'>Контакты</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</div>
</header>


{% block content %}
{% endblock %}


<footer class='py-4 white gray_dark_bg'>

  <div class="container">
    <div class="row px-5 pt-3 pb-4">

      <div class='col-md-3 pb-5'>

        <a class="" href='{% url "renew:index" %}'>
          <div class="center">
            <img class='footer_logo center' src='{% static "logo_gray.svg" %}'>
          </div>
        </a>
      </div>

      <div class='col-md-3 pb-5'>
        <h3 class='we_300 pb-4 h3_footer'>О НАС</h3>
        <a class="nav_footer" href='#'><p>Новости</p></a>
        <a class="nav_footer" href='{% url "renew:index" %}#about'><p>О&nbsp;компании</p></a>
        <a class="nav_footer" href='{% url "renew:index" %}#geography'><p>География проектов</p></a>
        <a class="nav_footer" href='{% url "renew:index" %}#team'><p>Команда</p></a>
        <a class="nav_footer" href='{% url "renew:index" %}#partners'><p>Партнеры</p></a>
      </div>

      <div class='col-md-3 pb-5'>
        <h3 class='we_300 pb-4 h3_footer'>УСЛУГИ</h3>
        <a class="nav_footer" href='{% url "renew:improvement" %}'><p>Благоустройство</a>
        <a class="nav_footer" href='{% url "renew:projection" %}'><p>Проектирование</a>
        <a class="nav_footer" href='{% url "renew:screening" %}'><p>Обследование</a>
      </div>
             

      <div class='col-md-3'>
        <h3 class='we_300 pb-4 h3_footer'>КОНТАКТЫ</h3>
        <p class='pb-3 nav_footer'>+7 917 245 42 25</p>
        <p class='pb-3 nav_footer'>renovation-rf@mail.ru</p>
        <p class='pb-3 nav_footer'>Казань, Декабристов 81Б, каб.207</p>

        <div class="d-flex justify-content-start">
          <a  href='#'><img class='smm_head py-2 ps-2' src='{% static "img/icons/vk_gray.png" %}'></a>
          <a  href='#'><img class='smm_head py-2 pe-2 ms-4' src='{% static "img/icons/inst_gray.png" %}'></a>
        </div>  
      </div>

    </div>
  </div>
  
  <center class='mt-5 gray container small we_300'>  
  © 2024, АИК ООО «Реновация». Все права защищены.
  </center>

</footer>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js'></script>
<script  src='{% static "js/script.js" %}'></script>
<script  src='{% static "js/add_bg.js" %}'></script>

<script  src='{% static "js/bootstrap.min.js" %}'></script> 
<script src='{% static "js/modal_form.js" %}'></script>

<script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
      items: 3, // Set the number of items to display in the carousel
      loop: true, // Enable loop
      margin: 10, // Set margin between items
      autoplay: true, // Enable autoplay
      autoplayTimeout: 3000, // Set autoplay timeout
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        }
      }
    });
  });
</script>

</body>
</html>
