{% extends 'renew/base.html' %}
{% load static %}

{% block content %}

<div class='d-none d-lg-block d-xl-block d-xxl-block'>
<video autoplay loop class='video_header '>
<!-- <video autoplay controls> -->
  <source src="{% static 'video/plan.mp4' %}" type="video/mp4">
</video>
</div>

<div class=' d-block d-lg-none'>
  <img class="w-100" src="{% static 'img/headers/head_index.png' %}">
</div>

<div class='container h1_header'>
  <h1>Архитектурно-инженерная компания «РЕНОВАЦИЯ»</h1>
  <h2 class='pt-2 pb-4 we_300'>Профессиональные решения вопросов в области проектирования</h2>
   {% include 'renew/form_popup.html' %}
  <!-- <div class='modal_container' onclick='showModal(this);'>
    <div class='thumb button_form blue_bg mt-3 mb-5 black'>БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</div>

    <div class='modal_full hide'>
      <span class="close" onclick="closeModal(this);">&times;</span>

      <div class=''>
        
        <form method="post" class="callme_container white_bg">
          <img class='w-100' src='{% static "img/headers/pattern.jpg" %}'>
          <div class='form_container we_300'>
            <h3 class='pb-3'>Заказать обратный звонок</h3>

            {{ callme_form.as_p }}
            
            {% csrf_token %}
          
          <center class='py-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

          <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию", Вы соглашаетесь с <u><a class='gray_dark' href='{% url "renew:privacy" %}'>Политикой конфиденциальности</a></u>.</p>
          </div>
        </form>

      </div>
    </div>
  </div>
  -->
</div>
<br><br><br><br><br>

<div class='container mt-5'>
  <section id='#about' class='mt-5'>
    <div class='row'>
      <div class='col-md'>
        <h2 class='black h2index pb-2'>О компании</h2>
        <p class='we_300'>Реновация предлагает проектно-изыскательные работы при строительстве новых и реконструкции действующих объектов жилого и общественного назначения любой степени сложности.</p>

        <p class='we_300'>Руководство и специалисты компании имеют большой опыт в проектировании и осуществлении авторского надзора.</p>
      </div>
      <div class='col-md'>
        <h2 class='black h2index pb-2'>Миссия</h2>
        <p class='we_300'>Стратегическая цель компании – повышение эффективности проектирования, сокращение расходов средств Заказчика и сроков проектирования при высоком уровне качества выполнения работ.</p>

        <p class='we_300'>Миссия компании – лидерство в области проектирования. Применение передовых технологий производства и управления.</p>
      </div>
    </div>


    <h2 class='black h2index mt-5 pb-2'>Услуги</h2>
        <p>

  </section>


  <section id='team' class='my-5'>

    <div class='row'>
      <div class='col-md'>
        <h2 class='black h2index'>Команда</h2>
      </div>
      <div class='col-md'>
          <img src="{% static 'img/team/mavlutov.webp' %}" class=" team_photo">
          <h4>Мавлютов Адель Маратович</h4>
          <p class='role'>Директор
      </div>
      <div class='col-md'>
          <img src="{% static 'img/team/hafizov.png' %}" class="team_photo">
          <h4>Хафизов Павел Сергеевич</h4>
          <p class='role'>Главный архитектор
      </div>
    </div>
    <div class='row pt-4'>
      <div class='col-md '>
          <img src="{% static 'img/team/Yagofarov.png' %}" class="team_photo">
          <h4>Ягофаров Динар Шамилевич</h4>
          <p class='role'>Главный инженер
      </div>
      <div class='col-md'>
          <img src="{% static 'img/team/Shakirov.webp' %}" class="team_photo">
          <h4>Шакиров Булат Маратович</h4>
          <p class='role'>Архитектор
      </div>
      <div class='col-md'>
          <img src="{% static 'img/team/Gatiatullin.webp' %}" class="team_photo">
          <h4>Гатиатуллин Фанис Халимович</h4>
          <p class='role'>Инженер
      </div>
    </div>

  </section>


  <section id='partners' class='my-3'>
    <h2 class='black h2index'>Партнеры</h2>

    <div class='d-flex justify-content-between my-5'>
      <img src="{% static 'img/partners/logo-part-1.png' %}" class="partners_rect">
      <img src="{% static 'img/partners/logo-part-2.png' %}" class="partners">
      <img src="{% static 'img/partners/logo-part-3.png' %}" class="partners">
      <img src="{% static 'img/partners/logo-part-4.png' %}" class="partners_rect">

    </div>
  </section>
</div>


<section id='contact' class=''>
  <div class='map_wrapper'>
    <div class='blur_bg_contact info_rect'>
      <h2 class=' black h2index pb-4'>Контакты</h2>
      <div class="d-flex justify-content-start pb-2"><img class='icon' src="{% static 'img/icons/phone.gif' %}"><p class='ps-2 pt-1'>+7 917 245 42 25</p></div>
      <div class="d-flex justify-content-start pb-2"><img class='icon' src="{% static 'img/icons/email.png' %}"><p class='ps-2 pt-1'>renovation-rf@mail.ru</p></div>
      <div class="d-flex justify-content-start"><img class='icon' src="{% static 'img/icons/address.png' %}"><p class='ps-2 pt-2'>Казань, Декабристов 81Б, каб.207</p></div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5eb787baddf1bea1fef02c1c49dda8f6909e26e47fb6b6cbbef151023f6f7b2a&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</section>


{% endblock %}