{% extends 'renew/base.html' %}
{% load static %}

{% block content %}

<video autoplay loop class='video_header'>
<!-- <video autoplay controls> -->
  <source src="{% static 'video/sport_ground.mp4' %}" type="video/mp4">
</video>

<div class='container mt-5'>
  <section id='#about' class=''>
    <h2 class='gray h2index'>О компании</h2>
  </section>


  <section id='#team' class=''>
    <h2 class='gray h2index'>Команда</h2>
  </section>


  <section id='#partners' class=''>
    <h2 class='gray h2index'>Партнеры</h2>
  </section>

  <section id='#contact' class=''>
    <h2 class='gray h2index'>Контакты</h2>
  </section>
</div>

{% endblock %}